*.opendb
*.db
project/server/server/Debug/
project/server/Release/server.iobj
project/server/server/Release/
project/server/Release/server.ipdb
project/server/server.sdf
project/server/server/x64/
project/server/cmake-build-release/CMakeFiles/
project/server/cmake-build-debug/CMakeFiles/
project/server/cmake-build-release/
project/server/cmake-build-debug/
project/server/.idea/
