*.opendb
*.db
project/server/server/Debug/
project/server/Release/server.iobj
project/server/server/Release/
project/server/Release/server.ipdb
project/server/server.sdf
project/server/server/x64/
*.tmp
