*.opendb
*.db
project/server/server/Debug/
project/server/Release/server.iobj
project/server/server/Release/
project/server/Release/server.ipdb
project/server/server.sdf
project/server/server/x64/
*.tmp
project/server/cmake-build-debug/
project/server/cmake-build-release/CMakeFiles/feature_tests.cxx
project/server/cmake-build-release/
docs/~$ftware Requirements Specification.doc
