/* Main CSS File for the Project */

html, body{
    margin: 0;
    padding: 0;
}


.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.add-margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}